### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
logs/

### MAC OS ###
.DS_Store

### Backend ###
target/
data/

### Frontend ###
node_modules/
**/node_modules/
front/node_modules/